table {
    width: 100%;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

button :hover {
    color: gray;
}

.action-col {
    text-align: right;
}

.rate-0 {
    background-color: #fbf6e0;
}

.rate-1 {
    background-color: #e8f7e4;
}
.rate-2 {
    background-color: #f8e3d6;
}
.rate-3 {
    background-color: #f9c7b9;
}
