<div class="background">
    <div class="container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Regisztráció</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="card-content">
                    <!--Choose patient or doctor-->
                    <div class="radio-div">
                        <mat-radio-group aria-label="Válasszon egy lehetőséget!">
                            <mat-radio-button value="patient" checked="checked">Beteg</mat-radio-button>
                            <mat-radio-button value="doctor">Orvos</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <!--Input fields-->
                    <mat-form-field>
                        <span matPrefix class="prefix"><mat-icon>person</mat-icon></span>
                        <mat-label for="lastname">Vezetéknév:</mat-label><input matInput type="text"
                            [formControl]="lastname" />
                    </mat-form-field>

                    <mat-form-field>
                        <span matPrefix class="prefix"><mat-icon>person</mat-icon></span>
                        <mat-label for="firstname">Keresztnév: </mat-label><input matInput type="text"
                            [formControl]="firstname" />
                    </mat-form-field>

                    <mat-form-field>
                        <span matPrefix class="prefix"><mat-icon>email</mat-icon></span>
                        <mat-label for="email">Email: </mat-label><input matInput type="email"
                            [formControl]="email" />
                    </mat-form-field>

                    <mat-form-field>
                        <span matPrefix class="prefix"><mat-icon>badge</mat-icon></span>
                        <mat-label for="taj">TAJ-szám: </mat-label><input matInput type="text" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" placeholder="123-456-789"
                            [formControl]="taj" />
                    </mat-form-field>

                    <mat-form-field>
                        <span matPrefix class="prefix"><mat-icon>lock</mat-icon></span>
                        <mat-label for="password">Jelszó: </mat-label><input matInput type="password"
                            [formControl]="password" />
                    </mat-form-field>

                    <mat-form-field>
                        <span matPrefix class="prefix"><mat-icon>lock</mat-icon></span>
                        <mat-label for="password">Jelszó újra: </mat-label><input matInput type="password"
                            [formControl]="repassword" />
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <!--Buttons-->
                <button mat-raised-button color="primary">Regisztráció</button>
                <button mat-button [routerLink]="'/login'" >Vissza</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>