<div class="new-message-form">
  <h2>Új üzenet küldése</h2>
  <mat-form-field appearance="outline">
    <mat-label>Címzett</mat-label>
    <mat-select [formControl]="to" >
      <mat-option *ngFor="let contact of contacts" [value]="contact.id">{{contact.lastname}} {{contact.firstname}}</mat-option>
    </mat-select>
  </mat-form-field>  

  <mat-form-field appearance="outline">
    <mat-label>Üzenet</mat-label>
    <textarea matInput [formControl]="message"></textarea>
  </mat-form-field>

  <br/>
  <button mat-raised-button color="primary" (click)="send()">Küldés</button>
</div>

<h2 id="beerkezettUzenetek">Beérkezett üzenetek</h2>  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- From Column -->
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef>From</th>
      <td mat-cell *matCellDef="let element">{{element.from}}</td>
    </ng-container>
  
    <!-- To Column -->
    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef>To</th>
      <td mat-cell *matCellDef="let element">{{element.to}}</td>
    </ng-container>
  
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{element.date}}</td>
    </ng-container>
  
    <!-- Message Column -->
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>Message</th>
      <td mat-cell *matCellDef="let element">{{element.message}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>