.background {
    background-image: url("/assets/images/medical-background.jpg");
    background-size:cover;
    //background-color: blue;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

mat-card {
    align-self: center;
    
}

mat-card-header {
    flex-direction: column;
}

mat-form-field {
    display: inline-block;
    width: 80%;
}

.card-content {
    place-items: center;
}


img {
    width: 70%;
    display: inline;

}

.mat-radio-button {
    display: inline-block;
    margin-left: 20px;
}

