.background {
    background-image: url("/assets/images/bg-2.jpg");
    background-size:cover;
    //background-color: blue;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

mat-card {
    align-self: center;
    max-width: 500px;
    
}

mat-card-header {
    flex-direction: column;
}

mat-form-field {
    display: inline-block;
    width: 80%;
}

.card-content {
    place-items: center;
}


img {
    width: 70%;
    display: inline;

}


.switch-field {
	display: flex;
    justify-content: flex-end;
    align-self: center;
	margin-bottom: 36px;
}

.switch-field input {
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	padding: 5px 10px;
	transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	border: black 10px;
}
