<mat-sidenav-container (backdropClick)="onClose(true, sidenav)" >
    <mat-sidenav #sidenav >
        <app-menu [links]="links" [currentPage]="page" (onCloseSidenav)="onClose($event, sidenav)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="onToggleSidenav(sidenav)" >
                  <mat-icon>menu</mat-icon>
                </button>
              </div>
            <div>MEDICAL-APP</div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px"  class="navigation-items">
                    <li *ngFor="let link of links"><a [routerLink]="link.url" [class]="page==link.url?'active':''">{{link.name}}</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>