<div *ngIf="data.action=='delete'">
  <mat-dialog-content>
    Biztos törli a mérést?
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Nem</button>
    <button mat-button color="primary" [mat-dialog-close] cdkFocusInitial>Igen</button>
  </div>
</div>

<div *ngIf="data.action=='update'">
  <h1 mat-dialog-title>Mérés szerkesztése</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Dátum</mat-label>
      <input matInput [value]="data.data.date">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>SYS</mat-label>
      <input matInput [value]="data.data.sys">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>DIA</mat-label>
      <input matInput [value]="data.data.dia">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Közérzet</mat-label>
      <input matInput [value]="data.data.feel">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Mégse</button>
    <button mat-button color="primary" [mat-dialog-close] cdkFocusInitial>Mentés</button>
  </div>
</div>